.kpi-card{

border:none;

border-radius:18px;

padding:20px;

transition:.3s;

background:white;

box-shadow:0 5px 20px rgba(0,0,0,.05);

height:180px;

}

.kpi-card:hover{

transform:translateY(-5px);

}

.kpi-card i{

font-size:40px;

color:#d71920;

margin-bottom:15px;

}

.kpi-card h6{

color:#777;

}

.kpi-card h2{

font-size:42px;

font-weight:bold;

margin-top:15px;

}