.navbar{

height:80px;

}

.navbar-brand{

font-size:1.5rem;

}

.nav-link{

margin-left:15px;

font-weight:500;

color:#555 !important;

}

.nav-link.active{

color:#d71920 !important;

}

.nav-link:hover{

color:#d71920 !important;

}