<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">

<meta name="viewport"
content="width=device-width, initial-scale=1.0">

<title>Djezzy Backbone Dashboard</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

<link rel="stylesheet"
href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

<link rel="stylesheet"
href="{{ url_for('static',filename='css/main.css') }}">

<link rel="stylesheet"
href="{{ url_for('static',filename='css/sidebar.css') }}">

<link rel="stylesheet"
href="{{ url_for('static',filename='css/navbar.css') }}">

<link rel="stylesheet"
href="{{ url_for('static',filename='css/cards.css') }}">

</head>

<body>

<div class="wrapper">

    <aside class="sidebar">

        <h3>

            <i class="bi bi-hdd-network"></i>

            Backbone

        </h3>

        <a href="/dashboard"
        class="{% if active_page=='dashboard' %}active{% endif %}">
            <i class="bi bi-speedometer2"></i>
            Dashboard
        </a>

        <a href="/analytics"
        class="{% if active_page=='analytics' %}active{% endif %}">
            <i class="bi bi-graph-up"></i>
            Analytics
        </a>

        <a href="/reports"
        class="{% if active_page=='reports' %}active{% endif %}">
            <i class="bi bi-file-earmark-pdf"></i>
            Reports
        </a>

        <a href="/project"
        class="{% if active_page=='project' %}active{% endif %}">
            <i class="bi bi-journal-code"></i>
            Project
        </a>

        <a href="/faq"
        class="{% if active_page=='faq' %}active{% endif %}">
            <i class="bi bi-question-circle"></i>
            FAQ
        </a>

    </aside>

    <main class="content">

        <nav class="navbar-custom">

            <h4>Djezzy IP Backbone Dashboard</h4>

        </nav>

        {% block content %}
        {% endblock %}

    </main>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>